<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>ABS BibleSearch API - {{ page.title }}</title>
    <link href="http://github.com/stylesheets/bundle_common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://github.com/stylesheets/bundle_github.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="main">
      <div id="header" class="basic">

        <div class="site">
          <div class="logo">
            <h1>ABS BibleSearch API</h1>
          </div>
          <div class="actions">
            <a href="index.html" title="Introduction">Introduction</a>            
            <a href="versions.html" title="Versions">Versions</a>
            <a href="books.html" title="Books">Books</a>
            <a href="chapters.html" title="Chapters">Chapters</a>
            <a href="verses.html" title="Verses">Verses</a>
            <a href="users.html" title="Users">Users</a>
            <a href="notes.html" title="Notes">Notes</a>
            <a href="tags.html" title="Tags">Tags</a>
          </div>
        </div>
      </div>

      <div id="content" class="site">
        <div class="wikistyle">
          {{ content }}
        </div>
      </div>

      <div class="push"></div>
    </div>

  </body>
</html>
